################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Open.GLTutorial/v17/Current/Browse.VC.db
