################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/.vs/OpenGLTutorial/v17
/.vs/OpenGLTutorial/v17/Current
**/x64/Debug/* 